@font-face {
    font-family: 'RogueHero';
    src: url('../fonts/roguehero.ttf') format('truetype');
  }
  

.custom-menu {
    background-color: transparent !important; /* Transparent background */
    border: none !important; /* Remove border */
  }
  
  .custom-menu .ant-menu-item {
    color: #fff !important; /* White text color */
  }
  
  .custom-menu .ant-menu-item:hover,
  .custom-menu .ant-menu-item-active {
    border-bottom: 2px solid #fff; /* White underline on hover and active */
  }
  